@import '../../style/core/colors.styles.scss';
.header {
    margin-top: 30px;
     :hover {
        color: $primary-blue;
        cursor: pointer;
    }
}

.ui.container.user-profile {
    margin: 100px 0 0 50px !important;
}