@import '../../../style/core/colors.styles.scss';
.menu-items {
    margin-top: 70px;
    .menu-item {
        margin-bottom: 30px;
         :hover {
            cursor: pointer;
            color: $primary-blue;
        }
    }
}