@import '../../../style/core/colors.styles.scss';
.ui.container.register-page-form {
    padding-left: 55px;
    .check-form {
        width: 30%;
        margin-bottom: 30px;
        label {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        input {
            outline: none;
        }
        button {
            color: white;
            background-color: $primary-blue;
            border: none;
            border-radius: 5px;
            padding: 10px;
            &:hover {
                background-color: white;
                color: $primary-blue;
                border: 1px solid $primary-blue;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    //   form register
    .register-form__personal-data {
        width: 60%;
        &:last-child {
            width: 56%;
        }
    }
    // form package
    .register-form__package {
        margin-top: 15px;
    }
    .submit-form {
        width: 30%;
        color: white;
        background-color: $primary-blue;
        border: none;
        border-radius: 5px;
        padding: 10px;
        &:hover {
            background-color: white;
            color: $primary-blue;
            border: 1px solid $primary-blue;
            transition: all 0.3s ease-in-out;
        }
    }
}